

.item
{
	margin: 5em;
	padding: 2em;
	color: #ffffff;
	

}

#item1{
	background-color: #a05ce4;
	border-radius:20px; 
	float:left;
	}

#item2{
	background-color: #5ca0e4;
	border-radius: 20px;
	float: right;

	}

#item3{
	background-color: #ff0000;
	border-radius: 20px;
	float: left; 
	}
#item4	{
	background-color: #000000;
	border-radius: 20px;
	float: right; 
	}
#item5	{
	background-color: #E5BE01;
	border-radius: 20px;
	float: left; 
	}

#item6	{
	background-color: #00ff00;
	border-radius: 20px;
	float: right; 
	}
#item7		{
	background-color: #000000;
	border-radius: 10px;
	float: right; 
	}